# ゴミ掃除
.*.sw[opn]
*.out
*.o
*.so
*.dll
*.exe
.DS_Store
Thumbs.db
*.bak

# Visual Studio
bin/
obj/
*.user
*.suo

# Binary
/Binary/*
!/Binary/Hikari
/Binary/Hikari/*
!/Binary/Akane
/Binary/Akane/*

/Client/FullSearch/ipch/*
/Client/FullSearch/Debug/*
!/Client/FullSearch/Debug/FullSearch.exe
/Client/FullSearch/Release/*
!/Client/FullSearch/Release/FullSearch.exe
/Client/FullSearch/FullSearch/Debug/*
/Client/FullSearch/FullSearch/Release/*
!/Client/FullSearch/FullSearch/*.cpp
!/Client/FullSearch/FullSearch/*.h
!/Client/FullSearch/FullSearch/*.vcxproj