# ゴミ掃除
.*.sw[opn]
*.out
*.o
*.so
*.dll
*.exe
.DS_Store
Thumbs.db
*.bak

# Visual Studio
bin/
obj/
*.user
*.suo

# Binary
/Binary/*
!/Binary/Hikari
/Binary/Hikari/*
!/Binary/Akane
/Binary/Akane/*

# もりした変更分
/Client/WindowsMake/ipch/*
/Client/WindowsMake/Debug/*
!/Client/WindowsMake/Debug/WindowsMake.exe
/Client/WindowsMake/WindowsMake/*
/Client/WindowsMake/WindowsMake/Debug/*
!/Client/WindowsMake/WindowsMake/*.cpp
!/Client/WindowsMake/WindowsMake/*.h
!/Client/WindowsMake/WindowsMake/*.vcxproj
